/*:rootを使えば変数が設定できる。色の値などはよく使うので変数にした方が良い*/
/*変数の頭には--を付けなければいけない*/
:root{
    --fontcolor: #555555;
    --firstcolor: #f6f6f6;
    --secondcolor: #000077;
    --thirdcolor: #af7f11;
}
/*変数を呼び出すときはこんな感じ。var()で囲む*/
/*これはHTMLのh1タグすべてに{}内の変更を与える。*/
/*colorは要素の色を変えるのに使う。主に文字の色を変えるのに使う*/
h1{
    color:  var(--fontcolor);
}

/*「*」で指定すると、ページ内のすべての要素に適用される。margin:0等と一緒に使うことが多い*/
*{
    margin: 0;
}

メソッド一覧{
    /*「要素の横幅」これに対して縦幅が自動で合わせられるものと合わせられないものがある*/
    /*写真などの大きさもこれで指定するし、長文の横幅なども指定する。(文は幅いっぱいまで来ると改行される)*/
    width: 10vw;

    /*「要素の縦幅」*/
    height: 10vw;

    /*「要素の周りに確保される領域の広さ」paddingとは違い、この領域は要素として認識されない。例えばボタンの役割を持つ要素のmarginの部分をクリックしてもボタンは反応しない*/
    margin: 10vw;
    /*例えば以下のように書けば、marginの左側だけいじれる。または左側だけmarginを確保できる*/
    margin-left: 20vw;

    /* 要素として認識される要素の周りの領域。例えば送信ボタンを作るときに、ボタン内の文字にpaddingを確保するとボタン内の文字の周りの空間が広がる*/
    padding: 5vw;

    /*paddingとmarginの間の境界線。主に線を引くときに使う*/
    /*このように書くのは線の太さだけを調節したいとき*/
    border: 2px;
    /*線を引くときは例えば下のように書く*/
    border-bottom: solid 1px black;


    /*「文字の大きさ」*/
    font-size: 5vw;
    
/*「文字の高さ(幅)」行間をどれくらい開けるかを調整するときなどに使う。基本的にfont-sizeよりも大きい値が入る。*/
/*注意：line-heightをピクセルで指定する場合はきっちりpxまで記述する。(font-sizeやwidthなど他のメソッドはpxまで書かずに数字だけ書いても自動でpxだと認識されるものが多い)*/
    line-height: 40px;

    /*「文字揃えの向き」左揃え、右揃え、中央揃えなどがある。中央揃えはwidthと組み合わせてめっちゃ使う。*/
    text-align: center;

    /* 「背景色」colorで指定しても色が変わらない要素はこれで変えられるかも*/
    background-color: red;

    /*「重ね順」要素が被ってる時はこの値が大きい方が手前に来る*/
    z-index: 100;

}
